

body{
    background-image: url(https://i.pinimg.com/originals/8e/46/15/8e46150f790fbefe438d9c2767c32ad1.gif);
}
h1{
    color: white;
}
#welcome1{
    color: wheat;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    text-align: center;
    border: 5px ridge;
    width: 300px;
    height: 50px;
    font-size: 20px;
    background-color: black;
    -webkit-user-select: none;
    user-select: none;
}
#welcome1:hover{
    color: gold;
}
#pot_roast{
    color: black;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    padding: 1%;
    background-color: white;
    width: 500px;
    border: 20px ridge;
    font-size: 18px;
    height: 360px;
}

#que{
    display: inline;
    position: relative;
    width: fit-content;
    bottom: 300px;
    left: 600px;
    
}