

body{
   background-image: url(https://i.pinimg.com/originals/8e/46/15/8e46150f790fbefe438d9c2767c32ad1.gif);
}
h1{
    color: white;
}
#welcome1{
    color: wheat;
    border-color: wheat;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    text-align: center;
    border: 5px ridge;
    width: 300px;
    height: 50px;
    font-size: 20px;
    background-color: black;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1;
    border-radius: 5px;
}
#welcome1:hover{
    color: gold;
    border-color: gold;
}

#earth{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: -2;
   
}

#wrap{

    transform: translate(-50%, -50%);
    z-index: -1;
    -webkit-user-select: none;
    user-select: none;


}
#satellites{
    
    
    
    position: absolute;
    
    
    width: 1600px;
    height: 900px;
    transform: translate(10.5%, -18%);


    pointer-events: none;
    /*open = -30%, close =  -55*/
    z-index: 1;
    transition: all 1s;
}



.backing{
    position: absolute;
    height: 62px;
    width: 62px;
    margin-bottom: 15px;
    background-color: black;
    transform: translate(2px, -64px);

    z-index: -50;
}


#tvs{
    position: fixed;
    
    z-index: -1;
}

.tv{
    /*background-color: white;*/
    object-fit:fill;
    width: 80px;
    height: 80px;
    justify-content: center;
    pointer-events: auto;
    
}

#tv1{
    position: absolute;
    transform: translate(454px, -737px) rotate(25deg);
    
}


#tv2{
    position: absolute;
    transform: translate(385px, -497px) rotate(0deg);
}

#tv3{
    position: absolute;
    transform: translate(455px, -258px) rotate(-25deg);
}

#tv4{
    position: absolute;
    transform: translate(1072px, -738px) rotate(-25deg);
}
#tv5{
    position: absolute;
    transform: translate(1119px, -499px) rotate(0deg);
}

#tv6{
    position: absolute;
    transform: translate(179px, -279px) rotate(-25deg);
}

#tv7{
    position: absolute;
    transform: translate(1348px, -652px) rotate(-25deg);
}

#tv8{
    position: absolute;
    transform: translate(1080px, -255px) rotate(25deg);
}